# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
build

# Editor settings
.vscode
.cache

# Logs folder
logs

# MacOS Files
.DS_Store

# Python Script Cache
__pycache__
.ipynb_checkpoints

# Ignore data directory
data

# Ignore data files
*.csv
